body {
    padding: 10px;
}

div {
    font-family: "Arial";
    font-size: 14px;
}

h1 {
    font-size: 27px;
    margin-bottom: 0px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.errormessage {
    color: red;
    display: none;
}

.main {
    min-height: 400px;
}

.main .section.upload {
    text-align: center;
}

.main .section.upload .dialog {
    margin-top: 50px;
}

.main .section.upload .dialog div {
    margin-bottom: 5px;
}

.main .section.upload .dialog label {
    font-size: 18px;
    font-weight: bold;
}

.main .section.console td.center ul, .main .section.console td.right .info {
    border: 2px solid #1E4A7B;
    height: 100%;
}

.main .section.console ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
    overflow: auto;
}

.main .section.console ul li {
    margin-bottom: 15px;
}

.main .section.console ul li .command {
    font-weight: bold;
}

.main .section.console ul li .result {
    color: blue;
}

.main .section.console ul li .result.error {
    color: red;
}

.main .section.console ul li.download {
    border-top: 1px dotted #aaa;
}

.main .section.console ul li.download .downloadlink {
    margin-top: 5px;
    display: block;
}

.main .section.console td {
    vertical-align: top;
}
dfdaf
.main .section.console td.left {
    width: 12%;
    text-align: center;
}

.main .section.console td.center {
    width: 68%;
    height: 500px;
}

.main .section.console td.center .toolbar {
    border: 2px solid #1E4A7B;
    border-top: 0;
}

.main .section.console td.center .toolbar .text {
    border: 0 none;
    font-size: 14px;
    padding: 8px;
    width: 80%;
}

.main .section.console td.center .toolbar .button {
    border: 0;
    border-left: 2px solid #1E4A7B;
    cursor: pointer;
    float: right;
    font-size: 15px;
    padding: 9px;
    margin: 0;
    width: 150px;
}

.main .section.console td.right {
    width: 20%;
    height: 535px;
}

.main .section.console td.right .info {
    padding: 10px;
    background-color: #efefef;
    overflow: auto;
}

.main .section.console td.right .info .label.first {
    margin-top: 0px;
}

.main .section.console td.right .info .label {
    font-weight: bold;
    margin-top: 15px;
}

.main .section.console td.right .info ul {
    padding: 0;
    margin: 0;
}

.main .section.console td.right .info ul li {
    margin: 0;
}

.footer {
    margin-top: 60px;
}

.footer div {
    text-align: center;
    font-size: 15px;
}